@import 'nib'
@import 'jeet'
@import 'rupture'

.menu
    center(960px)
 
    header
        h2,p
            text-align:center
    .name
        text-transform: uppercase;
        column(5/6, cycle:2)
    .price
        column(1/6, cycle:2)

